:root {
  --primary: #219ebc;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 3000px;
}

html,
body {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #18748b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  font-style: bold;
}

.navbar .navbar-logo span {
  color: #28b1d3;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 35%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 3) 3%,
    rgba(255, 255, 255, 0) 25%
  );
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.5;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.3rem;
  color: #000000;
  margin-top: 0.3rem;
  line-height: 1.8;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.games {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.games h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.about h2 span,
.games h2 span {
  color: #28b1d3;
}

.about h3 span {
  color: #28b1d3;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 0 2rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Menu Section */
.games h2 {
  margin-bottom: 1.5rem;
}

.games p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.6;
  font-size: 1.2rem;
}

.games .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.games .row .games-card {
  text-align: center;
  padding-bottom: 4rem;
}

.games .row .games-card img {
  width: 80%;
}

.games .row .games-card .games-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* Contact */
#contact {
  background-color: #28b1d3;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
}

#contact h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #000000;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #0b4787;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.contact-link:hover .icon {
  transform: scale(1.1);
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  /* Mobile Phone */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }
}
